@page "/RPizza"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private Estado estado { get; } = new Estado();
    protected override void OnInitialized()
    {
        estado.pizzaBLL.Agregar(new Pizza(1, "Pepperoni", 8.99M, Picante.Picante ));
        estado.pizzaBLL.Agregar(new Pizza(2, "Margarita", 7.99M, Picante.Ninguno));
        estado.pizzaBLL.Agregar(new Pizza(3, "Diabolo", 9.99M, Picante.Caliente));
    }
}